In [100]:
from bs4 import BeautifulSoup

In [101]:
from splinter import Browser
executable_path = {"executable_path": "/usr/local/bin/chromedriver"}
browser = Browser("chrome", **executable_path, headless=False)

In [3]:
url = "https://mars.nasa.gov/news/"
browser.visit(url)

In [4]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [5]:
news_title = soup.find('div', class_='content_title').find('a').text
news_p = soup.find('div', class_='article_teaser_body').text

In [6]:
url_2 = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url_2)

In [7]:
featured_image_button = browser.find_by_id("full_image")
featured_image_button.click()

In [9]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
featured_image_url = "https://www.jpl.nasa.gov" + soup.find("img", class_="fancybox-image")["src"]
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA17563_ip.jpg'

In [10]:
url_3 = "https://twitter.com/marswxreport?lang=en"
browser.visit(url_3)

In [11]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [12]:
tweet=soup.find("div", attrs={"data-screen-name":"MarsWxReport", "class":"tweet"})

In [13]:
mars_weather=soup.find("p", class_="TweetTextSize")
mars_weather=mars_weather.get_text()
mars_weather

'InSight sol 97 (2019-03-05) low -95.3ºC (-139.6ºF) high -14.8ºC (5.3ºF)\nwinds from the SW at 4.9 m/s (10.9 mph) gusting to 12.9 m/s (28.9 mph)\npressure at 7.20 hPapic.twitter.com/Q9QivIo4ls'

In [115]:
import pandas as pd

In [116]:
mars_df = pd.read_html("https://space-facts.com/mars/")[0]
mars_df.head()

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)

In [117]:
mars_df.columns = ["Description", "Values"]
mars_df.set_index(["Description"], inplace=False)

                                             Values
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [118]:
mars_df.to_html()
data = mars_df.to_dict(orient='records')
mars_df

            Description                         Values
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [110]:
url_4 = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(url_4)

In [111]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [112]:
hemisphere_image_urls=[]

In [113]:
links = soup.findAll("a", class_="product-item")

In [114]:
base_url = "https://astrogeology.usgs.gov"
for i in links:
    if i.find("h3"):
        browser.visit(base_url + i["href"])
        html = browser.html
        soup = BeautifulSoup(html, 'html.parser')
        imgurl= base_url + soup.find("img", class_="wide-image")['src']
        title = soup.find("h2", class_="title").get_text()
        hemisphere_image_urls.append({"title": title, "img": imgurl})
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img': 'https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img': 'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img': 'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'}]